<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcfUJjfz9HJVO8k6vPHnKCHKuYd-3AI6g</string>
	<key>GCM_SENDER_ID</key>
	<string>317200515163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.smarts.crmapp</string>
	<key>PROJECT_ID</key>
	<string>responsive-crm-flutterflow</string>
	<key>STORAGE_BUCKET</key>
	<string>responsive-crm-flutterflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317200515163:ios:b61a6923fef5b6882bff7e</string>
</dict>
</plist>